<!DOCTYPE HTML>
<html>
<head>
    <title>Feedback</title>
    <meta name="keywords" content="Fundaaz Iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css"  media="all" />
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="logo"><a href="index.html"><img src="img/logo.png" /></a></div>
        <div class="search">
            <form>
                <input type="text" value="" />
                <input type="submit" value="" />
            </form>
        </div>
        <div class="social">
            <ul>
                <li>订餐热线：</li>
                <li>400-000-8888</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="menu">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="">川菜</a></li>
                <li><a href="">湘菜</a></li>
                <li><a href="">粤菜</a></li>
                <li><a href="">鲁菜</a></li>
                <li><a href="">东北菜</a></li>
                <li><a href="">湖北菜</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div class="sidebar">
            <div class="side">
                <h3>中华菜系</h3>
                <ul>
                    <li><a href="category.html">川菜</a></li>
                    <li><a href="category.html">湘菜</a></li>
                    <li><a href="category.html">粤菜</a></li>
                    <li><a href="category.html">鲁菜</a></li>
                    <li><a href="category.html">东北菜</a></li>
                    <li><a href="category.html">湖北菜</a></li>
                    <li><a href="category.html">清真菜</a></li>
                </ul>
            </div>
            <div class="side">
                <h3>热门菜品</h3>
                <ul>
                    <li><a href="category.html">水煮鱼</a></li>
                    <li><a href="category.html">水煮肉</a></li>
                    <li><a href="category.html">水煮啥</a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="feedback">
                <h2>我要订餐</h2>
                <form>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td>菜品名称</td>
                            <td><input type="text" name="title" value="水煮肉" readonly></td>
                            <td>订购数量</td>
                            <td><input type="text" name="title" value="1"></td>
                        </tr>
                        <tr>
                            <td>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</td>
                            <td><input type="text" name="username" value="传智.逍遥" readonly></td>
                            <td>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</td>
                            <td><input type="text" name="tel" value="18898531234"></td>
                        </tr>
                        <tr>
                            <td>家庭住址</td>
                            <td><textarea></textarea></td>
                            <td>备注信息</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input type="submit" name="submit" value="下单">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--------------------------------------->
<div id="footer">
    <div class="copy">Copyright &copy; 2016 传智播客 All rights reserved.<a target="_blank" href="http://www.itcast.cn">http://www.itcast.cn</a></div>
</div>
</body>
</html>
